.pxx {
    width: 50%;
    
}

.ppr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;


}

p {
    text-align: justify;
}

a {
    color: black;
    
}

a:hover {
    color: dimgrey;
    transition: color .25s ease-in-out,box-shadow .3s ease-in-out;
}
.link {
    box-sizing: border-box;
    
}

img {
    width: 100px;
    height: 100px;
}

.img {
    display: flex;
    justify-content: center; 
}

@media screen and (max-width: 424px) {
    .pxx {
        width: 80%;
    }
}

@media screen and (max-width: 540px) {
    .pxx {
        width: 80%;
    }
}