.pxx {
    width: 50%;
    
}

.ppr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;


}

p {
    text-align: justify;
}

#link {
    color: black;
    height: 0;
}

a {
    color: black;
}

#link:hover {
    color: red;
    display: inline-block;
    height: 18px;
    background-color: black;
    transition: color .25s ease-in-out,box-shadow .3s ease-in-out;
    transition: height .25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
    color: white;
    animation: hovera .15s infinite;
}

@keyframes hovera {
    from {color: white;}
    to {color: black;}
  }
.link {
    box-sizing: border-box;
    
}

img {
    width: 150px;
    height: 150px;
}

.img {
    display: flex;
    justify-content: center; 
}

@media screen and (max-width: 424px) {
    .pxx {
        width: 80%;
    }
}

@media screen and (max-width: 540px) {
    .pxx {
        width: 80%;
    }
}